@tailwind base;
@tailwind components;
@tailwind utilities;

/* Blinking cursor */
@keyframes terminalBlink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blink {
  animation: terminalBlink 1.5s ease-in-out infinite;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
